
    <h1>About Us</h1>
	<p>
      		Surrey Biodiversity Information Centre (SBIC) collects, manages and disseminates information on the flora, fauna and habitats of Surrey. In doing so the 			Centre seeks to hold as comprehensive a record of the wildlife of Surrey as possible.

      
      		The Centre holds as its core belief that informed decision making and a better understanding of the landscape of Surrey can only be achieved through 			access to relevant information on the distribution and abundance of species and habitats across the County.
	</p>
 
