
    <h1>Enquiry Service</h1>
      <p>
        
        SBIC provides a background ecological data search service for both non-commercial and commercial needs. </br> 

	<div class="image_design">
        <%= logo = image_tag("animal.png", :alt => "SIBC", :class => "round") %> 
	</div>
          
	</br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br>

 	A response based on our standard data search service includes information on: </br>  

		. Statutory and non-statutory site designations (i.e. sites of regional/local importance including Ancient woodland (our response will include 
		  information on their name, their location and the basis for their designation) </br>
		. Protected species </br>
		. Rare/notable species </br>
		. Priority Species/Species of Conservation Concern as identified in the UK Biodiversity Action Plan </br> </br>

	If you would like us to undertake a data search for you please email the following details to us: </br> 

		. A grid reference or map, showing a site boundary, for the centre of the desired search area. </br>
		. The size/radius of the desired search area.
		. Company details, or for non-commercial enquiries an indication of what the information will be used for. </br>

	Charges will be applied based on the amount of time needed to complete the report. Charges will not normally be applied to requests received from schools/	
	colleges and members of the public.

      </p>
