<!DOCTYPE html>
<html>
  <head>
    <title>Surrey Biodiversity Information Centre | News_and_Upcoming_Events</title>
  </head>
  <body>
    <h1>Sbic App</h1>
    <p>
      This is the News and Upcoming Events page for the SBIC site
      </p>
  </body>
</html>

