
    <h1>News and Upcoming Events</h1>
      <p>
      		We publish an ongoing series of Surrey Wildlife Atlases, the latest of which is ‘Wasps of Surrey’ by David Baldock. Previous titles have included 	
		Butterflies (1995, now sold out), Dragonflies (1996), Larger Moths (1997), Hoverflies (1998), Grasshoppers & Crickets (1999), Ladybirds (2000), 		Amphibians & Reptiles (2001), Shieldbugs (2003), Ants (2005), Water Bugs and Water Beetles (2007) and Bees (2008). </br> 

      
	<div class="image_design">
        <%= logo = image_tag("treebird1.png", :alt => "SIBC", :class => "round") %> 
	</div>

       	</br> 	</br> 	</br>   </br>   </br>   </br>   </br>  </br>  </br>  </br>  </br> </br>  </br>  
                 
                
		

		In 2005 we also launched a series of County Checklists, the first of which covered Beetles. </br> 
		Atlases can be purchased from the Surrey Wildlife Trust web shop at http://www.surreywildlifegifts.org.uk/collections/atlas-series
      	</p>
  
   	<div class="image_design">
        <%= logo = image_tag("tree.png", :alt => "SIBC", :class => "round") %>  <%= logo = image_tag("lizard.png", :alt => "SIBC", :class => "round") %>
	</div>


	</br> 	</br> 	</br>   </br>   </br>   </br>   </br>  </br>
	<div class="image_design">
        <%= logo = image_tag("flower1.png", :alt => "SIBC", :class => "round") %>
	</div>
