
	
    <h1>Recording Tools</h1>  
    <p>
	If you think recording is something you'd like to learn more about why not get involved! There are a number of ways you can contribute to the recording 	
	community, whilst learning new skills and developing a new and exciting hobby.

	Aside from recording in your spare time, in your garden or when you're out and about, this section shows a few ways in which you can get involved in recording 	
	in a more practical sense. </br>  

       <div class="image_design">
        <%= logo = image_tag("Record.png", :alt => "SIBC", :class => "round") %> <%= logo = image_tag("rats.png", :alt => "SIBC", :class => "round") %>
	</div>

       </br> </br> </br> </br> </br> </br> </br> </br>
 
	Volunteering:
	KMBRC depends upon volunteers to make possible many of the functions of the Records Centre. This page describes how you can get involved and also lists other 		organisations in Kent which may require volunteers. </br>  </br>

	Becoming a Tree Warden:
	Have you got an interest in trees, conservation, wildlife and/or the environment? Then how about becoming a Tree Warden? </br>	</br>
	
	Becoming a Pond Warden:
	Have you got an interest in ponds, conservation, wildlife and/or the environment? Then how about becoming a Pond Warden? </br>  </br>
	
	Designing a Recording Scheme:
	Are you interested in designing your own recording scheme? Here we provide some tips and advice. </br>  </br>

	Get involved in a local recording group:
	If you're already interested in learning more about a particular species group - this is a great way to start - why not get involved in a local recording group. 		</br>   </br>	
	
	There are plenty throughout Kent, some general groups with members keen on recording a wide range of species, such as Whitstable Natural History Society and 	
	Kent Field Club. Other groups are more specific, Kent Reptile and Amphibian Group and Kent Bat Group for example.</br> </br> All groups are great value for 	
	money and a small membership fee means you'll often receive newsletters and more importantly you'll be able to attend fascinating events throughout the year. 
      
     </p>
  

