<!DOCTYPE html>
<html>
  <head>
    <title>Surrey Biodiversity Information Centre | Recording_Tools</title>
  </head>
  <body>
    <h1>Sbic App</h1>
    <p>
      This is the Recording Tools page for the SBIC site
      </p>
  </body>
</html>

