<!DOCTYPE html>
<html>
  <head>
    <title>Surrey Biodiversity Information Centre | Submit_your_Sightings</title>
  </head>
  <body>
    <h1>Sbic App</h1>
    <p>
      This is the Submit your Sightings page for the SBIC site
      </p>
  </body>
</html>

