
    <h1>Current Surveys</h1>
    <p>
	The record centre is always involved in a wide variety of projects, activities and surveys, and provides a number of services beyond our standard enquiry 	
	service. 
	These range from the long-term hedgerow survey project run by Peter Challis to modelling of potential habitat on the South Downs or the development of custom 	
	software to aid in record entry. </br> </br>

	We are also able to make effective use of the data we hold by engaging in analysis and desk-study projects. We are able to use our technical expertise to 	
	manipulate and import large quantities of data, thus we are regularly engaged in projects with indivduals, recording schemes, partners and organisations to 	
	import their data into our central database. </br>

        <div class="image_design">
        <%= logo = image_tag("lizard1.png", :alt => "SIBC", :class => "round") %> 
	</div>

       	</br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br> </br>

	We recognise that modern-day recording can be a minefield of technology, scientific jargon and differing methodologies. We can provide help, support, training 	
	and talks in the various aspects of biological recording. </br> This can include software and technical support, help with developing a comprehensive monitoring 		system or basic recording advice. If you require our help, or simply require advice, please do get in touch. </br> </br>

	Some projects we are currently involved in: </br> </br>
		. Hedgerow surveying </br> </br>
		. Importing of Sussex Ornithological Society dataset </br> </br>
		. Applying species data to the habitat potential mapping of the proposed South Downs National Park </br> </br>
		. Cross referencing the vascular plant, bryophyte and lichen data held by SxBRC with the species for which Sussex SSSIs were notified to assess the 	
		  current status of these species </br> </br>
		. Identifying the location of potential Floodplain woodland sites in Sussex </br> 

     </p>
  
