<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Enquiry Service", enquiry_path %></li>
      <li><%= link_to "Help", help_path %></li>
      </ul>
  </nav>
</footer>
